/* font-family: 'Montserrat', sans-serif; 
secondary color: #B23131
main color: #ff4747
third color: #47ffff*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: #ff4747;
}

/* basic */

.container {
		width: 100%;
		justify-content: center;
}

/* header */

header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

/* logo */

.first-container, .second-container {
  cursor: pointer;
  position: relative;
  text-align: center;
  color: white;
  padding: 100px;
}

h1 {
  position: relative;
  letter-spacing: 2px;
  font-size: 5vw;
}

.first-container {
  margin-bottom: 15px;
}

span {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: -5;
}

.share:hover > h1 > span:nth-child(1):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 100ms;
  transform: rotate(-25deg);
}
.share:hover > h1 > span:nth-child(1):after, .share:hover > h1 > span:nth-child(1) {
  color: #ff4747;
  transition-delay: 110ms;
}

.share:hover > h1 > span:nth-child(2):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 200ms;
  transform: rotate(-20deg);
}
.share:hover > h1 > span:nth-child(2):after, .share:hover > h1 > span:nth-child(2) {
  color: #ff4747;
  transition-delay: 220ms;
}

.share:hover > h1 > span:nth-child(3):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 300ms;
  transform: rotate(-15deg);
}
.share:hover > h1 > span:nth-child(3):after, .share:hover > h1 > span:nth-child(3) {
  color: #ff4747;
  transition-delay: 330ms;
}

.share:hover > h1 > span:nth-child(4):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 400ms;
  transform: rotate(-10deg);
}
.share:hover > h1 > span:nth-child(4):after, .share:hover > h1 > span:nth-child(4) {
  color: #ff4747;
  transition-delay: 440ms;
}

.share:hover > h1 > span:nth-child(5):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 500ms;
  transform: rotate(-5deg);
}
.share:hover > h1 > span:nth-child(5):after, .share:hover > h1 > span:nth-child(5) {
  color: #ff4747;
  transition-delay: 550ms;
}

.share:hover > h1 > span:nth-child(6):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 600ms;
  transform: rotate(0deg);
}
.share:hover > h1 > span:nth-child(6):after, .share:hover > h1 > span:nth-child(6) {
  color: #ff4747;
  transition-delay: 660ms;
}

.share:hover > h1 > span:nth-child(7):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 700ms;
  transform: rotate(5deg);
}
.share:hover > h1 > span:nth-child(7):after, .share:hover > h1 > span:nth-child(7) {
  color: #ff4747;
  transition-delay: 770ms;
}

.share:hover > h1 > span:nth-child(8):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 800ms;
  transform: rotate(10deg);
}
.share:hover > h1 > span:nth-child(8):after, .share:hover > h1 > span:nth-child(8) {
  color: #ff4747;
  transition-delay: 880ms;
}

.share:hover > h1 > span:nth-child(9):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 900ms;
  transform: rotate(15deg);
}
.share:hover > h1 > span:nth-child(9):after, .share:hover > h1 > span:nth-child(9) {
  color: #ff4747;
  transition-delay: 990ms;
}

.share:hover > h1 > span:nth-child(10):after {
  background: #B23131;
  width: 100%;
  transition: 0.6s;
  transition-delay: 1000ms;
  transform: rotate(20deg);
}

/* nav */

nav {
	position: center;
	display: block;
	top: 2.5em;
	top: 2.5em;
	left: 0;
	width: 100%;
	text-align: center;
}

nav ul {
	display: inline-block;
	padding: 1.5em;
}

nav ul li {
	display: inline-block;
	text-align: center;
	padding: 0 1.5em;
}

nav ul li a {
	display: block;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.7em;
	letter-spacing: 0.25em;
	height: 5em;
	line-height: 5em;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

nav ul li:hover a {
	color: white;
}

nav ul li.active a {
	color: white;
}


/* tabs */

.tab-section {
	
	justify-content: center;
}

.tabs {
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.tabs .tabs-items {
	width: 100%;
	display: flex;
	justify-self: center;
	padding-top: 60px;
}
.tabs .tabs-item {
	display: none; 
	width: 75%;
}

.tabs-item-description {
	margin: 0 auto;
  height: 500px;
  background-size: 500px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.tabs-item-description p {
  margin: 0 auto;
  top: 30px;
  font-size: 2em;
	color: #47ffff;
  text-align: center;
}

.tabs-item {
  margin: 0 auto;
  height: 600px;
}

.tabs .tabs-item-selected {
	display: block;
}

.tabs-links {
	justify-content: space-around;
	display: flex;
	position: center;
	width: 100%;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}

.tabs-link {
	padding: 20px 25px;
	font-size: 24px;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

.tabs-link:hover {
	background-color: #B23131;
	color: #ff4747;
}

.tabs-link-selected {
	z-index: 2;
	background-color: #B23131;
	color: #ff4747;
}

/* footer */

footer {
	display: flex;
	justify-content: center;
  padding: 2em;
}
footer p {
  font-weight: 600;
}


/* responsive */

@media (max-width: 500px) {
  .tabs-links {
    display: none;
  }
}

@media (max-width: 800px) {
  
}

@media (max-width: 1000px) {
  
}